.input {
  display: flex;
  flex-direction: column;
  gap: 14px;
  label {
    font-size: $small;
    color: $dark-gray;
    cursor: pointer;
  }
  input {
    border: 1px solid $gray;
    border-radius: 6px;
    height: 64px;
    padding-inline: 25px;
    margin-bottom: 24px;
    font-size: $small;
    color: #494949;
  }
}
