.modal {
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000004a;
  z-index: 10;
  &_form-item {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    margin-bottom: 24px;
    > * {
      flex-grow: 1;
      flex-basis: 100%;
    }
    &:last-of-type {
      flex-grow: 1;
    }
  }
}
.modal.fadeIn,
.modal.fadeOut {
  display: flex;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 500ms forwards;
}

.fadeOut {
  animation: fadeOut 200ms forwards;
}
