$black: #000000;
$white: #ffffff;
$gray: #8692a6;
$dark-gray: #696f79;
$orange: #f54112;
$blue: #1b59f8;

// font-size

$small: 1rem; //16px
$medium: 1.25rem; //20px
$large: 1.5rem; //24px
$xLarge: 2rem; //32px
$big: 2.5rem; //40px

$bold: 700; //bold
$semiBold: 600; //semi bold
$regular: 500;
$thin: 400;
